<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create User Form</title>
  <script src="https://cdn.tailwindcss.com"></script> <!-- Use this instead -->
</head>
<body>
  <div class="w-full h-screen bg-zinc-900 flex items-center justify-center">
    <form method="POST" action="/login" class="space-y-4">
        <h1 class="px-3 py-2 rounded-md bg-pink-600 text-white w-full cursor-pointer">Log-in Your Account</h1>

      <input type="email" name="email" placeholder="Email" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white w-full" />

      <input type="password" name="password" placeholder="Password" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white w-full" />



      <input type="submit" value="Login User" class="px-3 py-2 rounded-md bg-blue-600 text-white w-full cursor-pointer" />
    </form>
  </div>
</body>
</html>
